body{
    background-color: #f8ffff;
}
main{
   padding: 0.5em;
   border:5px solid #00adea;
   border-radius: 25px;
}
.item{
    text-align: center;
    margin: 5px 0;
}
.item img{
    width:65%;
    height:65%;
}
footer{
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
footer:hover{
    opacity: 0.6;
}
a{
    background-color: #0085b5;
    border-radius: 15px;
    display: inline-block;
    padding: 0.5em;
    color: #f8ffff;
    text-decoration: none;
}
